%h1 Listing posts OK

%br

%p{:id => 'notice'}= notice

- @posts.each do |post| 
	
	%h2= post.title
	%p= post.message
	
	= link_to 'Show', [@blog, post]
	= link_to 'Edit', edit_blog_post_path(@blog,post)
	= link_to 'Delete', [@blog, post], :method=> :delete, :confirm => 'Are you sure?' 

%br 
%br 
%br

= link_to 'New Post', new_blog_post_path
