%h1 Listing posts

%br

%p{:id => 'notice'}= notice

- @posts.each do |post| 
	
	%h2= post.title
	%p= post.message
	
	= link_to 'Show', post_path(post)
	= link_to 'Edit', edit_post_path(post)
	= link_to 'Delete', post, :method=> :delete, :confirm => 'Are you sure?' 

%br 
%br 
%br

= link_to 'New Post', new_post_path 
